.container {
  max-width: 46rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  background-color: #d24547;
}

.headerPostImage {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  background-color: #d24547;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  background-color: #d24547;
}

.backToHome {
  margin: 3rem 0 0;
}

.titleImageDiv{
  display: flex;
  padding: 0.2rem;
  width: 2rem;
  height: 2rem;
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color:antiquewhite;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}
